footer{
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
    
}

footer .category{
    display:flex;
    flex-direction: column;
}

footer #assistance{
    margin-top:40px;
}

footer #hebergements{
    margin-top:30px;
}

footer h4{
    font-size:18px;
    font-weight:bold;
    margin-bottom:28px;
}

footer a{
    font-size:14px;
    text-decoration:none;
    color:black;
    margin-bottom:20px;
}

@media all and (min-width: 768px){
     
footer{
    padding-right: 30px;
    display: flex;
   justify-content:space-around;
}

footer #assistance{
    margin-top:0px;
}

footer #hebergements{
    margin-top:0px;
}
}


@media all and (min-width: 1440px){

    footer{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 54px;
    padding-right: 365px;
   align-items: center;
   justify-content:space-between;

}


}

