header {
  display: flex;
  flex-direction: column;
}

header .top {
  display: flex;
  align-items: center;
  padding: 20px 20px 0px 20px;
  justify-content: space-between;
}

header .top h1{
  height: 46.39px;
}

header .bottom {
  display: flex;
  margin-top: 14px;
}

header .bottom .inscription{
  display:none;
}

header .bottom #logements_link, header .bottom #activities_link {
  width: 50%;
  display: flex;
  align-items: center;
  color: #101010;
  justify-content: center;
  font-size: 15.4px;
  height:47px;
  border-bottom: 2.5px solid #f2f2f2;
}

header .bottom #logements_link:hover, header .bottom #activities_link:hover{
  border-color: #0065fc;
  color: #0065fc;
}

header a {
  text-decoration: none;
  color: #0065fc;
}

header .inscription {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

header .top img {
  width: 100px;
}

@media all and (min-width: 1440px){
  header{
    flex-direction: row;
    padding-left: 53px;
    padding-right: 77px;
    justify-content:space-between;
  }

  header .top{
    padding: 0;
    align-items:flex-end;
  }

  header .bottom{
    margin-top:0px;
    height:80px;
    width: 410px;
  }

  header .bottom .inscription{
    display:flex;
    align-items:flex-end;
    margin-left: 30px;
    margin-top: 0px;
  }

  header .top .inscription{
    display:none;
  }

  header .bottom a{
    margin-bottom: 5px;
  }


  header .bottom #logements_link, header .bottom #activities_link {
    align-items: flex-end;
    height:auto;
    border-top: 2.5px solid #f2f2f2;
    border-bottom:0;
}


}
