@import 'images.css';

.results{ 
    display:flex;
    flex-direction: column;
}

.results .result{
    padding: 42px 20px 27px 20px;
}

.bold{ font-weight: bold}

.results #popular{
  background-color: #f2f2f2;
}

.results header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-bottom:25px;
    padding: 0;
}

.results header h2{
   font-size:22px;
   font-weight:bold;
}

.results #popular header{
    margin-bottom:30px;
}

.results #popular header i{
   font-size:18px;
}

.results .cards{
    display:flex;
    flex-direction:column;
}

.results .card{
   width: 335px;
   height:155px;
   background-color: white;
   border-radius: 25px;
   margin-bottom:11px;
box-shadow:0px 0px 6px 3px #f5f5f5 ;
   
}

.results #popular .card{
    padding: 5px;
    display: flex;
}

.results #popular .card .description{
  width: 150px;
}

.results #popular .card .description h3{
    font-size:16px;
    font-weight:bold;
    margin-top: 14px;
    margin-bottom:14px;
}

.results .card .description p{
    font-size:14px;
   
}

.results #popular .card .description p{
    margin-bottom: 44px;
}



.results .card .rating {
   height: 13px;
   display: flex;
   align-items:center;
   justify-content:flex-start;
}

.results .card .rating .star {
   font-size:13px;
   color: #0065fc;
}

.results .cards .card .rating .empty{
   color:#d9d9d9;
}

.results #logements{
    background-color: white;
}

.results #logements header{
    margin-bottom:23px;
}


.results #logements .card{
    display: flex;
    flex-direction: column;
     padding: 5px;
     height: 210px;
}


.results #logements .card .description {
    margin-left: 11px;
}


.results #logements .card .description h3{
    font-size:16px;
    font-weight:bold;
    margin-top: 11px;
    margin-bottom:11px;
}


.results #logements .card .description p{
    margin-bottom: 11px;
    
}

.results #logements .more{
    font-size:18px;
    font-weight:bold;
    margin-top:35px;
    border:none;
    background-color:transparent;
}

.results #activities{
    padding-top: 33px;
}

.results #activities header{
    margin-bottom: 32px;
}

.results #activities .bloc_Card{
    display: flex;
    flex-direction: column
}

.results #activities .card{
    height:190px;
    margin-bottom: 24px;
}

.results #activities .card h3{
    margin-top: 23px;
    margin-left: 20px;
    font-size:16px;
}

@media all and (max-width: 375px){
    .results .card{
   width: 89.9vw;
}


}

@media all and (min-width: 480px){
        .results .cards{
   align-items: center;
}


}

@media all and (min-width: 768px){

    .results .result{
        border-radius: 20px;
    }

    .results #popular{
        width:95%;
        align-self: center;
    }

    .results #popular .cards{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

      .results #popular .cards .card{
        display: flex;
      flex-direction: column;
        width: 216px;
        height: 240px;
  }

  .results #popular .card .description {
    width: 100%;
    margin-left: 11px;
}

.results #popular .card .description h3{
        margin-top: 11px;
    margin-bottom: 11px;
}

.results #popular .card .description p{
    margin-bottom:11px;
}

.results #popular #soleilMatin .description h3, .results #popular #bleuBlanc .description h3{
    margin-bottom:32px;
}

.results #logements .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.results #logements  .card{
    margin-left: 10px;
    margin-right: 10px;
}

.results #activities{
    padding-right: 15px;
    padding-left: 15px;
}

.results #activities .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.results #activities .card{
    margin-left: 15px;
    margin-right: 15px;
}

.results #activities .bloc_Card{
    order: 1;
}

} 

@media all and (min-width: 1024px){

     .results #popular{
        width:995px;
        align-self: center;
    }

      .results #popular .cards .card{
        display: flex;
      flex-direction: column;
        width: 300px;
        height: 210px;
  }

  .results #popular #soleilMatin .description h3, .results #popular #bleuBlanc .description h3{
    margin-bottom: 11px;
}

.results #logements  .card{
    margin-left: 15px;
    margin-right: 15px;
}

.results #activities .card {
    height: 18.56vw;
    width:32.72vw;

}

}

@media all and (min-width: 1440px){
  .results{
      flex-direction: row;
      flex-wrap: wrap;
      padding-right: 50px;
      padding-left: 50px;
      justify-content:space-between;
  }

  .results .result{
      border-radius: 20px;
  }

  .results .cards{
      align-items:normal;
  }

  .results #popular{
    order: 2;
    width: 420px;
    padding: 45px 40px 2px 37px;
  }

  .results #popular header{
      margin-bottom: 25px;
  }

    .results #popular .cards{
        display: flex;
        flex-direction: column;
    }


   .results #popular .cards .card{
      width: 343px;
      height: 155px;
      flex-direction:row;
      margin-bottom: 32px;
  }

  .results #popular .card .description{
  width: 150px;
}

.results #popular #soleilMatin .description h3, .results #popular #bleuBlanc .description h3{
    margin-bottom:11px;
}


.results #popular .card .description p{
    margin-bottom: 44px;
}

   .results #logements{
      order: 1;
      width: 880px;
      padding: 45px 40px 45px 40px;
      background-color: #f2f2f2;
  }

  .results #logements .cards{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-between;
  }

   .results #logements .cards .card{
      width: 246px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 28px;
  }

  .results #logements .more{
      margin-top:15px;
  }

   .results #activities{
      order: 3;
      padding-left: 0;
      padding-right:0;
      padding-bottom: 60px;
      padding-top:65px;
      width: 100%;
  }

  .results #activities header{
      margin-bottom: 25px;
  }

  .results #activities .bloc_Card {
      justify-content:space-between;
      order: 0;
  }

   .results #activities .cards{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-between;
  }

   .results #activities .cards .card{
      width:302px;
      margin-right: 0px;
      margin-left: 0px;
  }

   .results #activities .cards #vieuxPort, .results #activities .cards #parcCalangues{
      height: 444px;
  }

  .results #activities .cards #fortPomegues{  height: 236px; }
  .results #activities .cards #ilesFrioul{  height: 163px; }
  .results #activities .cards #notreDame{  height: 194px; }
  .results #activities .cards #parcLongchamp{  height: 208px; }

}