header {
  display: flex;
  flex-direction: column;
}

header .top {
  display: flex;
  align-items: center;
  padding: 20px 20px 0px 20px;
  justify-content: space-between;
}

header .bottom {
  display: flex;
  margin-top: 14px;
}

header .bottom a {
  width: 50%;
  display: flex;
  align-items: center;
  color: #101010;
  justify-content: center;
  font-size: 15.4px;
  height:47px;
  border-bottom: 2.5px solid #f2f2f2;
}

header .bottom a:hover {
  border-color: #0065fc;
  color: #0065fc;
}

header a {
  text-decoration: none;
  color: #0065fc;
}

header .top #inscription {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

header .top img {
  width: 100px;
}
