@import "filters.css";

.research {
  padding: 32px 0px 0px 20px;
}

.research h2 {
  font-weight: bold;
  font-size: 22px;
  width: 78.7vw;
}

.research p {
  font-size: 14.2px;
  font-weight: lighter;
  margin-top: 15px;
  margin-bottom: 38px;
}

.research .searchInput{

  display:flex;
  align-items: center;
  
}

.research .searchInput i{
   height:50px;
  width:50px;
  min-width: 50px;
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.research .searchInput .location{
  
  background-color: #f2f2f2;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.research .searchInput input {
  height: 50px;
  border: 2px solid #f2f2f2;
  padding: 15px 0px 15px 15px;
  width: 280px;
  font-size:18px;
  font-weight:bold;
}

.research .searchInput .search{
  background-color: #0065FC;
  color: white;
  border-radius: 30%;
  font-size: 17px;
  position: relative;
  right: 30px;
  border: none;
  cursor: pointer;
}

.research .info{
  display: flex;
  align-items: baseline;
}

.research .info i{
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 100%;
  font-size: 12px;
  color: #0065FC;

}

.research .info p{
 font-size: 16px;
 width: 300px;
}

.research .searchInput .laptop{
  display: none;
}

@media all and (min-width: 1440px){
 
  .research{
    padding-left: 53px;
  }

  .search{
    display: none;
  }

  .research .searchInput {
    width: 420px;
}
 
  .research .searchInput .laptop{
    display: flex;
       height:50px;
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 18px;
  right: 45px;
  font-size: 18px;
  font-weight:bold;
  }

  .research p{
    margin-bottom: 22px;
  }

  .research .searchInput input{
    min-width: 270px;
  }

  .research .info p{
 width: 415px;
 margin-bottom:36px;
}

  .research .info i{
 margin-left: 6px;
}



  
}

